<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ipvc.maintrack">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_maintrack"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_maintrack_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainTrack"
        tools:targetApi="31">
        <activity
            android:name=".UtilizadorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegistoAvariaActivity"
            android:exported="false" /> <!-- Launcher (decide para onde vai: onboarding, login ou home) -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Atividade de main -->
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Atividade de login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- Atividade principal após login -->
        <activity
            android:name=".GestorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegistoAccActivity"
            android:exported="false" />
    </application>

</manifest>